.banner {
  margin-bottom: 10px;
  min-height: 200px;
  background-color: rgb(175, 100, 245);
  border-radius: 8px;
}

.user-profile {
  padding: 0 20px 20px 20px;
  display: flex;
}

.user-profile__info-wrapper {
  padding: 0 20px 20px 20px;
}

.user-profile__name {
  margin: 0 0 20px 0;
}

.user-profile__description-list {
  margin: 0;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
}

.user-profile__description-key {
  margin: 0;
  padding: 0;
}

.user-profile__description-value {
  margin: 0;
  padding: 0;
}

.user-news {
  padding: 0 20px 20px 20px;
}

.user-news__title {
  margin: 0 0 20px 0;
}

.user-news__form {
  display: flex;
  flex-direction: column;
}

.user-news__comment-field {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  margin: 0 0 20px 0;
  align-self: center;
  box-sizing: border-box;
  border: none;
  color: #fff;
  background-color: rgb(175, 100, 245);
  border-radius: 4px;
}

.user-news__comment-field::placeholder {
  color: #fff;
}

.user-news__button {
  padding: 20px 50px 20px 50px;
  align-self: flex-end;
  color: #fff;
  background-image: linear-gradient(rgb(175, 100, 245) 0%, rgb(160, 73, 242) 75%, blueviolet 100%);
  border: none;
  border-radius: 4px;
}

.user-news__button:hover,
.user-news__button:focus,
.user-news__button:active {
  opacity: 60%;
}