.main-nav {
  background-color: blueviolet;
  border-radius: 8px;
}

.main-nav__list {
  margin: 0;
  padding: 20px 0 40px 20px;
  list-style-type: none;
}

.main-nav__settings {
  margin: 0;
  padding: 0 0 20px 20px;
  list-style-type: none;
}

.main-nav__list-item {
  width: 214px;
}

.main-nav__link {
  width: 204px;
  padding: 10px 0 10px 10px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.main-nav__settings-item {
  width: 214px;
}

.main-nav__settings-link {
  width: 204px;
  padding: 10px 0 10px 10px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.active {
  border-radius: 4px;
  background-image: linear-gradient(rgb(175, 100, 245) 0%, rgb(160, 73, 242) 75%, blueviolet 100%);

}