.app-wrapper {
  width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
}

.main-header {
  grid-column: 1 / -1;
  background-color: blueviolet;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.main-header__logo {
  width: 70px;
  height: 70px;
  display: block;
  padding: 20px 0 20px 20px;
  box-sizing: border-box;
}

.main-nav {
  background-color: blueviolet;
  border-radius: 8px;
}

.main-nav__list {
  margin: 0;
  padding: 20px 0 40px 20px;
  list-style-type: none;
}

.main-nav__settings {
  margin: 0;
  padding: 0 0 20px 20px;
  list-style-type: none;
}

.main-nav__list-item:not(:last-child) {
  margin-bottom: 10px;
}

.main-nav__list-item a {
  text-decoration: none;
  color: #fff;
}

.main-nav__settings-item a {
  text-decoration: none;
  color: #fff;
}

.banner {
  margin-bottom: 10px;
  min-height: 200px;
  background-color: rgb(175, 100, 245);
  border-radius: 8px;
}
